html{
    height: 100%;
    background-image: URL("./background.jpg");
    background-color="black";
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-height: auto;}